<ion-view>
  <ion-header-bar class="bar-dark">
    <button class="button icon ion-navicon" ng-click="myGoBack()"></button>
    <h1 class="title title-center" >Estado ruta</h1>
  </ion-header-bar>
  <ion-content ng-init="getAlumnos()">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/resumenRuta">
      
      <img ng-src="img/bus.png">
        <h2>Ruta #1</h2>
        <p>Calle 1 a Calle 20</p>
        <p>Estado: <span class="estado">Finalizado</span></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/resumenRuta">
        <img ng-src="img/bus.png">
        <h2>Ruta #2</h2>
        <p>Calle 1 a Calle 20</p>
        <p>Estado: LLegada en 20 minutos</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/resumenRuta">
        <img ng-src="img/bus.png">
        <h2>Ruta #3</h2>
        <p>Calle 1 a Calle 20</p>
        <p>Estado: LLegada en 10 minutos</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
