
<ion-view >
	<ion-header-bar class="bar-dark">
	<h1 class="title">Bienvenido A Coocapp</h1>
  </ion-header-bar>
	<div class="row col col-100">
		<ion-content class="center">
			<img  class="Home-logo"src="img\logo\logoctl.png" alt="" />
			<div class="Home">
				<div class="item-Home" ng-click="verMapa()">
					<p><i class="icon ion-location"></i></p>
					<p>Mi Ruta</p>
				</div>
				<div class="item-Home" ng-click="verlistAlumno()">
					<p><i class="icon ion-android-contacts"></i></p>
					<p>Alumnos</p>
				</div>
				<div class="item-Home" ng-click="">
					<p><i class="icon ion-android-chat"></i></p>
					<p>Noticicaiones</p>
				</div>
				<div class="item-Home" ng-click="">
					<p><i class="icon ion-android-bus"></i></p>
					<p>Estado Ruta</p>
				</div>

			</div>
		</ion-content>
	</div>
</ion-view>
