<ion-view view-title="Login" align-title="left">
<ion-content class="Login">

    	<div class="no-header ">
            <div class="content">
                <div style="text-align:center; margin-top:20px;">
    				<img class="logo" src="img/logo/logoctl.png" alt="">
        </div>

    	<div class="list padding">
    		<label class="item item-input">
    			<!-- <span class="input-label">Usuario</span> -->
    			<input type="text" ng-model="login.usuario" placeholder="Usuario" required>
    		</label>
    		<label class="item item-input">
    			<!-- <span class="input-label">Password</span> -->
    			<input type="password" ng-model="login.clave" placeholder="Pasword" required>
    		</label>
    		<!-- <label class="item item-input item-stacked-label" style="border:none; margin-top:20px;"> -->
    			<div class="padding">
    				<button class="button button-full button-positive ink" ng-click="ingresar()">Ingresar</button>
    			</div>
    		<!-- </label> -->
    	</div>
  </ion-content>
</ion-view>
