/* Empty. Add your own CSS if you like */
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: #ecf0f1;
	color: #34495e;
}
#map {
    height:100vh;
    width: 100%;
    overflow: hidden;
}
.scroll {
    height: 100%;
}
.logo{
	padding-top: 50%;
	width: 50%;

}
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
    text-align: center;
}

/* <<<<< Login >>>>>*/
.Login{
	background: url(../img/login.jpg) center;
	background-size: cover;"
}
.Login .item.item-input{
	margin: 10px 0;

}
/* <<<<< Home >>>>>*/
.Home{
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	margin: 0 auto;
	justify-content: center;
}

.Home-logo{
	display: block;
	width: 75%;
	margin: 60px auto 0;
}
.item-Home{
	width: 40%;
	list-style: none;
	box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset,1px 1px 1px #CCC;
	background: #000;
	color: #fff;
	line-height: 1;
	margin: 10px;
	padding: 25px;
	border-radius: 5px;
	cursor: pointer;
}
.item-Home:active,.item-Home:hover,.item-Home:focus{
	background: rgb(8, 91, 29);
}
.item-Home i{
	color: inherit;
	text-decoration: none !important;
	font-size: 60px;
	text-align: center;
}
.item-Home p{
	color: inherit;
	text-decoration: none !important;
	font-size: 16px;
	text-align: center;
}
